@charset "UTF-8";

* {
    -webkit-transition: all 0.7s;
    -moz-transition:    all 0.7s ;
    -ms-transition:     all 0.7s ;
    -o-transition:      all 0.7s ;
    transition:         all 0.7s ;
}

/* - - - - - - - - - - A - - - - - - - - - - */

.aa {
    height: 100%;
    width: 100%;
    display: block;
    text-decoration: none;
    color: #fff;
}

.aa:hover {
    text-decoration: none;
    color: #fff;
}

/* - - - - - - - - - - B - - - - - - - - - - */

body {
    background: url("../img/24606.jpg") no-repeat fixed;
    background-size: cover;
}

.btnMenu {
    z-index: 9999;
    position: fixed;
    float: right;
    top: 7px;
    right: 7px;
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0; margin: 0;
    font-size: 1rem;
    border-radius: 0.25rem;
    background-color: rgba(255,255,255,.7);
    border-color: #ffffff;
    -webkit-box-shadow:  0 0 5px rgba(255,255,255,.5);
    -moz-box-shadow:  0 0 5px rgba(255,255,255,.5);
    box-shadow:  0 0 5px rgba(255,255,255,.5);
}

.btnMenu:hover {
    background-color: #fff;
    -webkit-box-shadow:  0 0 5px rgba(0,0,0,.5);
    -moz-box-shadow:  0 0 5px rgba(0,0,0,.5);
    box-shadow:  0 0 5px rgba(0,0,0,.5);
}

.btnMenu:active {
    -webkit-transition: 0.1s all;
    -moz-transition: 0.1s all;
    -o-transition: 0.1s all;
    transition: 0.1s all;
    background-color: #fff;
    -webkit-box-shadow:  0 0 10px rgba(255,255,255,.7);
    -moz-box-shadow:  0 0 10px rgba(255,255,255,.7);
    box-shadow:  0 0 10px rgba(255,255,255,.7);
}

.bd-top { border-top: 1px solid rgba(0,0,0,.2); }
.bd-all-rbl { border: 1px solid rgba(0,0,0,.2); border-radius: 0 0 0.25rem 0.25rem; }

.b-cl-12 { background-color: rgba(255,255,255,.9) !important; }
.b-cl-11 { background-color: rgba(255,255,255,.8) !important; }
.b-cl-10 { background-color: rgba(250,250,250,.7) !important; }
.b-cl-09 { background-color: rgba(225,225,225,.7) !important; }
.b-cl-08 { background-color: rgba(200,200,200,.7) !important; }
.b-cl-07 { background-color: rgba(175,175,175,.7) !important; }
.b-cl-06 { background-color: rgba(150,150,150,.7) !important; }
.b-cl-05 { background-color: rgba(125,125,125,.7) !important; }
.b-cl-04 { background-color: rgba(100,100,100,.7) !important; }
.b-cl-03 { background-color: rgba(075,075,075,.7) !important; }
.b-cl-02 { background-color: rgba(050,050,050,.7) !important; }
.b-cl-01 { background-color: rgba(025,025,025,.7) !important; }
.b-cl-00 { background-color: rgba(000,000,000,.7) !important; }

/* - - - - - - - - - - C - - - - - - - - - - */

.card { background-color: rgba(255,255,255,.1); }

/* - - - - - - - - - - F - - - - - - - - - - */

.floatMenu {
    z-index: 9999;
    position: fixed;
    float: right;
    top: 60px;
    right: 3px;
    padding: 0; margin: 0;
    border-radius: 0.25rem;

    -webkit-box-shadow:     0 0 5px rgba(255,255,255,.3);
    -moz-box-shadow:        0 0 5px rgba(255,255,255,.3);
    box-shadow:             0 0 5px rgba(255,255,255,.3);
}

/* - - - - - - - - - - I - - - - - - - - - - */

.icn {
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
    border-radius: .25rem;
    margin: .25rem;
    cursor: pointer;

    color: rgba(000,200,255,.89);
    text-shadow: 0 0 5px rgba(000,200,255,.89);

    border: 1px rgba(255,255,255,.7) solid;

    background-color: rgba(255,255,255,.1);
    box-shadow: 0 0 5px rgba(255,255,255,.9);
}

.icn:hover {
    color: #fff;
    background-color: rgba(000,000,000,.1);
}

/* - - - - - - - - - - U - - - - - - - - - - */

ul { list-style-type: none; }

/* - - - - - - - - - - O - - - - - - - - - - */

.WI {
    z-index:            99999;
    position:           fixed;
    padding:            0;
    margin:             1rem;
    top:                0;
    max-height:         calc(100% - 2rem);
    left:               0;
    min-width:          calc(100% - 2rem);
    background-color:   rgba(255,255,255,.5);
    border-radius:      .25rem;
    -webkit-box-shadow: 0 0 1px black, inset 0 0 1px rgba(255,255,255,.5);
    -moz-box-shadow:    0 0 1px black, inset 0 0 1px rgba(255,255,255,.5);
    box-shadow:         0 0 1px black, inset 0 0 1px rgba(255,255,255,.5);
}

.topWI {
    width: 100%;
    height: 2rem;
    background-color: rgba(000,000,000,.5);
    border-radius: .25rem .25rem 0 0;
    color: #fff;
    font-weight: bold;
    padding: .25rem;
}

.topX {
    -webkit-transition: .2s all;
    -moz-transition: .2s all;
    -ms-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;

    float: right;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: rgba(255,000,000,.7);
}

.topX:hover {  background-color: rgba(155,000,000,.9); }
.topX:active { background-color: rgba(255,255,255,.9); }

.xWI {
    height: 100%;
    width: 100%;
    padding: 0;
    border-radius: 0 0 .25rem .25rem;
}

.xframe {
    width: 100%;
    height: 35rem !important;
    border: none;
    border-radius: 0 0 .25rem .25rem;
}

/*


.icn {
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
    border-radius: .25rem;
    margin: .25rem;
    cursor: pointer;

    background-color: rgba(255,255,255,.89);
    box-shadow: 0 0 1px black, inset 0 0 1px rgba(255,255,255,.5);
}

.icn:hover {
    color: #fff;
    background-color: rgba(000,000,000,.8);
}

glyphicon-asterisk
glyphicon-plus
glyphicon-euro
glyphicon-eur
glyphicon-minus
glyphicon-cloud
glyphicon-envelope
glyphicon-pencil
glyphicon-glass
glyphicon-music
glyphicon-search
glyphicon-heart
glyphicon-star
glyphicon-star-empty
glyphicon-user
glyphicon-film
glyphicon-th-large
glyphicon-th
glyphicon-th-list
glyphicon-ok
glyphicon-remove
glyphicon-zoom-in
glyphicon-zoom-out
glyphicon-off
glyphicon-signal
glyphicon-cog
glyphicon-trash
glyphicon-home
glyphicon-file
glyphicon-time
glyphicon-road
glyphicon-download-alt
glyphicon-download
glyphicon-upload
glyphicon-inbox
glyphicon-play-circle
glyphicon-repeat
glyphicon-refresh
glyphicon-list-alt
glyphicon-lock
glyphicon-flag
glyphicon-headphones
glyphicon-volume-off
glyphicon-volume-down
glyphicon-volume-up
glyphicon-qrcode
glyphicon-barcode
glyphicon-tag
glyphicon-tags
glyphicon-book
glyphicon-bookmark
glyphicon-print
glyphicon-camera
glyphicon-font
glyphicon-bold
glyphicon-italic
glyphicon-text-height
glyphicon-text-width
glyphicon-align-left
glyphicon-align-center
glyphicon-align-right
glyphicon-align-justify
glyphicon-list
glyphicon-indent-left
glyphicon-indent-right
glyphicon-facetime-video
glyphicon-picture
glyphicon-map-marker
glyphicon-adjust
glyphicon-tint
glyphicon-edit
glyphicon-share
glyphicon-check
glyphicon-move
glyphicon-step-backward
glyphicon-fast-backward
glyphicon-backward
glyphicon-play
glyphicon-pause
glyphicon-stop
glyphicon-forward
glyphicon-fast-forward
glyphicon-step-forward
glyphicon-eject
glyphicon-chevron-left
glyphicon-chevron-right
glyphicon-plus-sign
glyphicon-minus-sign
glyphicon-remove-sign
glyphicon-ok-sign
glyphicon-question-sign
glyphicon-info-sign
glyphicon-screenshot
glyphicon-remove-circle
glyphicon-ok-circle
glyphicon-ban-circle
glyphicon-arrow-left
glyphicon-arrow-right
glyphicon-arrow-up
glyphicon-arrow-down
glyphicon-share-alt
glyphicon-resize-full
glyphicon-resize-small
glyphicon-exclamation-sign
glyphicon-gift
glyphicon-leaf
glyphicon-fire
glyphicon-eye-open
glyphicon-eye-close
glyphicon-warning-sign
glyphicon-plane
glyphicon-calendar
glyphicon-random
glyphicon-comment
glyphicon-magnet
glyphicon-chevron-up
glyphicon-chevron-down
glyphicon-retweet
glyphicon-shopping-cart
glyphicon-folder-close
glyphicon-folder-open
glyphicon-resize-vertical
glyphicon-resize-horizontal
glyphicon-hdd
glyphicon-bullhorn
glyphicon-bell
glyphicon-certificate
glyphicon-thumbs-up
glyphicon-thumbs-down
glyphicon-hand-right
glyphicon-hand-left
glyphicon-hand-up
glyphicon-hand-down
glyphicon-circle-arrow-right
glyphicon-circle-arrow-left
glyphicon-circle-arrow-up
glyphicon-circle-arrow-down
glyphicon-globe
glyphicon-wrench
glyphicon-tasks
glyphicon-filter
glyphicon-briefcase
glyphicon-fullscreen
glyphicon-dashboard
glyphicon-paperclip
glyphicon-heart-empty
glyphicon-link
glyphicon-phone
glyphicon-pushpin
glyphicon-usd
glyphicon-gbp
glyphicon-sort
glyphicon-sort-by-alphabet
glyphicon-sort-by-alphabet-alt
glyphicon-sort-by-order
glyphicon-sort-by-order-alt
glyphicon-sort-by-attributes
glyphicon-sort-by-attributes-alt
glyphicon-unchecked
glyphicon-expand
glyphicon-collapse-down
glyphicon-collapse-up
glyphicon-log-in
glyphicon-flash
glyphicon-log-out
glyphicon-new-window
glyphicon-record
glyphicon-save
glyphicon-open
glyphicon-saved
glyphicon-import
glyphicon-export
glyphicon-send
glyphicon-floppy-disk
glyphicon-floppy-saved
glyphicon-floppy-remove
glyphicon-floppy-save
glyphicon-floppy-open
glyphicon-credit-card
glyphicon-transfer
glyphicon-cutlery
glyphicon-header
glyphicon-compressed
glyphicon-earphone
glyphicon-phone-alt
glyphicon-tower
glyphicon-stats
glyphicon-sd-video
glyphicon-hd-video
glyphicon-subtitles
glyphicon-sound-stereo
glyphicon-sound-dolby
glyphicon-sound-5-1
glyphicon-sound-6-1
glyphicon-sound-7-1
glyphicon-copyright-mark
glyphicon-registration-mark
glyphicon-cloud-download
glyphicon-cloud-upload
glyphicon-tree-conifer
glyphicon-tree-deciduous
glyphicon-cd
glyphicon-save-file
glyphicon-open-file
glyphicon-level-up
glyphicon-copy
glyphicon-paste
glyphicon-alert
glyphicon-equalizer
glyphicon-king
glyphicon-queen
glyphicon-pawn
glyphicon-bishop
glyphicon-knight
glyphicon-baby-formula
glyphicon-tent
glyphicon-blackboard
glyphicon-bed
glyphicon-apple
glyphicon-erase
glyphicon-hourglass
glyphicon-lamp
glyphicon-duplicate
glyphicon-piggy-bank
glyphicon-scissors
glyphicon-bitcoin
glyphicon-btc
glyphicon-xbt
glyphicon-yen
glyphicon-jpy
glyphicon-ruble
glyphicon-rub
glyphicon-scale
glyphicon-ice-lolly
glyphicon-ice-lolly-tasted
glyphicon-education
glyphicon-option-horizontal
glyphicon-option-vertical
glyphicon-menu-hamburger
glyphicon-modal-window
glyphicon-oil
glyphicon-grain
glyphicon-sunglasses
glyphicon-text-size
glyphicon-text-color
glyphicon-text-background
glyphicon-object-align-top
glyphicon-object-align-bottom
glyphicon-object-align-horizontal
glyphicon-object-align-left
glyphicon-object-align-vertical
glyphicon-object-align-right
glyphicon-triangle-right
glyphicon-triangle-left
glyphicon-triangle-bottom
glyphicon-triangle-top
glyphicon-console
glyphicon-superscript
glyphicon-subscript
glyphicon-menu-left
glyphicon-menu-right
glyphicon-menu-down
glyphicon-menu-up
*/